#Netbeans project files
nbproject

#Yii framework assets files
assets/**/*
assets/*

#IDE Files
.buildpath
.project
.settings

#Uploads
protected/uploads/**/*
protected/uploads/*
protected/tmp_files/*
protected/runtime/*
protected/config/main.php
protected/config/console.php
